.exterior-page-layout {
    background-color: rgb(78, 78, 78);
    padding: 15px;
    border-radius: 5px;
}

.interior-page-layout {
    background-color: rgb(13, 13, 63);
    color: white;
    border-radius: 15px;
    border-color: greenyellow;
    border-style: solid;
    padding: 15px;
}

button {
    background-color: blue;
    color: white;
    border-color: greenyellow;
    border-style: solid;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}

/*Top Section*/

.header-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-logo {
    font-size: 30px;
    display: flex;
}

/* possible more specific selectors for header-links, would need to add to html */

.header-description {
display: flex;
flex-wrap: wrap;
}

/*Random-Info Section*/

/*Lower-Mid Section*/

.exterior-quote-container {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding: 15px;
}

.interior-quote-container {
    background-color: rgb(13, 13, 63);
    border-radius: 20px;
    border-color: greenyellow;
    border-style: solid;
    padding: 15px;
}

.quote {
    font-size: 20px;
    color: greenyellow;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.who-quote {
    font-weight: 800;
    font-style: italic;
    color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}


/*CTA Section*/

/*Footer*/

.footer-container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}   

.image-credits {
    padding-top: 10px;
}