*, *::before, *::after{
    box-sizing: border-box;
}

.exterior-page-layout {
    background-color: rgb(78, 78, 78);
    padding: 15px;
    border-radius: 5px;
}

.interior-page-layout {
    background-color: rgb(13, 13, 63);
    color: white;
    border-radius: 10px;
    border-color: greenyellow;
    border-style: solid;
}

img{
    height:auto;
    width: 20%;
    padding: 5px;
    background-color: crimson;
}

button {
    border-color: greenyellow;
    border-style: solid;
}

/*Top Section*/

.header-container {
    background-color: rgb(78, 78, 78);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}

.header-logo {
    background-color: black;  
    color: white;
    font-size: 30px;
}

.header-links {
    background-color: brown;
    color: white;
}

/* possible more specific selectors for header-links, would need to add to html */

.header-description {

}

.header-big-description {

}

.header-small-description {

}

.header-button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}

.header-image {
    background-color: gray;
    color: white;
    border-style: dashed;
    border-color: navajowhite;
    width: 300px;
    height: auto;
}

/*Upper-Mid Section*/

.random-info-container {
background-color: black;
display: flex;
flex-direction: column;
justify-content: space-around;
align-content: center;
align-items: center;
}

.random-info-header {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    background-color: black;
    color: white;
    
}

.random-info-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.img-subtext {
background-color: brown;
display: flex;
flex-direction: row;
text-align: left;
justify-content: space-around;



}

/*Lower-Mid Section*/

.exterior-quote-container {
    background-color: rgb(78, 78, 78);
    padding: 15px;
}

.interior-quote-container {
    background-color: rgb(13, 13, 63);
    border-radius: 20px;
    border-color: greenyellow;
    border-style: solid;
    padding: 15px;
}

.quote {
    font-size: 20px;
    color: greenyellow;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.who-quote {
    font-weight: 800;
    font-style: italic;
    color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}


/*CTA Section*/

.cta-exterior-containers {

}

.cta-interior-containers {

}

.cta-button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
}

/*Footer*/

.footer-container {
    background-color: brown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright-footer {


}

.image-credits {
text-align: center;
padding-top: 10px;
}